.button {
  border: none;
  color: #21268F;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  align-items:center;
  background: #D7D8EF;
  border-radius: 30px;
  margin-bottom: 10px;
}